<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidbar" id="sidebar">
    <ul class="side-menu no-list-style">
        <li><a href="/community/shop/manage"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>店长</span></a></li>
        <li><a href="/goods/index"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>友家优选商品</span></a></li>
        <li><a href="/active/add/index"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>创建团购</span></a> </li>
        <li><a href="/active/query/index"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>查看团购</span></a> </li>
        <li><a href="/active/index/send"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>团购发货</span></a></li>
        <li><a href="/banner/index"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>banner管理</span></a></li>
        <li><a href="/community/user/manage"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>用户</span></a></li>
        <!--<li><a href="/community/order/orderReport"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>概览</span></a></li>-->
        <li><a href="/community/order/orderReportDaily"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>每日汇总</span></a></li>
        <li><a href="/community/order/manage"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>订单明细</span></a></li>
        <li><a href="/recommend/utils"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>小工具</span></a></li>
        <li><a href="/active/index/order"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>订单信息导出</span></a></li>
        <li><a href="/active/index/authority"><i class="icon-angle pull-right"></i><i class="icon-user2"></i><span>区域权限管理</span></a></li>
    </ul>
</div>